.header{
    font-family: inherit;
    color: black;
    width: 100%;
    padding: .5rem .5rem;
}
.chatty{
    border-radius:50% ;
    background-color: bisque;
    padding: 1rem;
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatty h1{
    font-weight: 200;
    font-size: 2rem;
}