.sign{
    min-height: 100vh;
    font-family: inherit;
    display: flex;
    justify-items: center;
    font-family: inherit;
  
    }
    .app-layout{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: aliceblue;
        font-size: 4rem;
background-color:var(--text-secondary);
    }
    .app-layout>p{
        text-shadow: #f8f8ff;
    }
    img{
        height: 750px;
    }
 .sign-container{
    width: 50%;
background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
 }
    .sign-layout{
       
        width: 350px;
        height: 500px;
        background-color: white;
        border-radius: 2px;

    }
    .sign-layout > h3{
        text-align: center;
        padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 100;
  }
    form{
    margin-top: 1rem;  
     
    
    }.form-heading{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .form-heading li{
        padding: 2rem 2rem;
    }
    .form-heading li a{
        color: #313131;
    font-weight: 200;
    }
    .active{
        padding-bottom: .25rem;
    }
    .form-heading > li a:hover{
        padding-bottom: .25rem;      
          border-bottom: 2px solid var(--text-secondary);
            color:var(--text-secondary)
    
    }
    
    .input-group{
        margin:0 1.5rem;   
         display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    input{
        margin: 1rem;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #eee;
        cursor: pointer;
        outline: none;
        background-color: #f8f8ff;
    padding: 1rem;
        width: 100%;
    }
    input:focus::placeholder{
        padding: .5rem 0rem ;
        transition: opacity .5s .5s ease;
        opacity: 0;
    }
    input:focus{
        border: 1px solid var(--text-secondary);
    }
    
    .submit{ margin: 0.5rem;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        color: var(--text-primary);
        cursor: pointer;
padding: .5rem;
        background-color: var(--text-secondary);
        width: 100%;
    }

    .login__btn{
        margin: .5rem;
        border-radius: 5px;
        border: 1px solid #eee;
        cursor: pointer;
        outline: none;
        background-color: #f8f8ff;
    padding: .5rem;
        width: 100%;
    }
    .error{
        font-size: .8rem;
        color: red;
    }
    .submit:disabled{
background-color: gray !important;
    }
    .footer{
        margin: .5rem 0;
    }
    .footer p{
        font-size: 1rem;
        padding: .5rem 0;

    }
    .footer .link{
        color: var(--text-secondary);
    }
    